doctype
head
  title Movi
  link(rel="stylesheet", href="/vendor/bootstrap-css/css/bootstrap.min.css")
  link(rel="stylesheet", href="/assets/css/main.css")
  base(href="/")
body(ng-app="app")
  include includes/header
  div(ng-view)
  include includes/footer
  include includes/scripts