header.navbar.navbar-default.navbar-static-top
  .navbar-decor
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        i.glyphicon.glyphicon-film.pull-left
        h1 MOVI
        .small Keep track of your movies
    div(ng-include="'/navbar-login'")