body {
  font-weight: 200;
}
main {
  padding-top: 64px;
}
.btn-default {
  color: #fff;
  background-color: #c7254e;
  border: none;
}
.btn-default:hover {
  color: #fff;
  background-color: #d74a6d;
  border: none;
}
.btn-outline {
  color: #c7254e;
  background-color: transparent;
  border: 1px solid #c7254e;
}
.btn-outline:hover {
  color: #d74a6d;
  background-color: transparent;
  border: 1px solid #d74a6d;
}
.success-toast-brand {
  background-color: #c7254e;
  top: 84px;
}
.error-toast-brand {
  background-color: #c7254e;
  top: 12px;
}
.navbar-default {
  background-color: #fff;
  border: 0;
}
.navbar-decor {
  height: 12px;
  background-color: #c7254e;
}
.navbar-header {
  margin-top: 12px;
  text-decoration: none;
}
.navbar-header .glyphicon-film {
  color: #c7254e;
  font-size: 1.8em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navbar-header h1 {
  display: inline;
  margin-left: 12px;
  color: #222;
}
.navbar-header .small {
  color: #333;
  font-size: 1em;
  margin: 6px 0 0 -6px;
}
#navbar-auth {
  margin-top: 32px;
}
#navbar-auth .dropdown-menu {
  padding: 12px;
  width: 300px;
}
#navbar-auth .dropdown-menu input {
  margin-bottom: 12px;
}
.logout-nav .small {
  display: inline-block;
  font-size: 1.4em;
  margin-right: 12px;
}
@media (max-width: 768px) {
  .opened main {
    padding-top: 296px;
  }
  .opened .btn-outline {
    margin-top: 32px;
  }
  .opened .logout-nav .small {
    display: block;
  }
}
