// Global variables
brand-color = #c7254e

// Mixins
transform-rotate(degrees)
  -webkit-transform rotate(degrees)
  -ms-transform rotate(degrees)
  transform rotate(degrees)

.navbar-default
  background-color white
  border 0

.navbar-decor
  height 12px
  background-color brand-color

.navbar-brand
  margin-top 12px
  text-decoration none
  .glyphicon-film
    color brand-color
    font-size 1.8em
    transform-rotate 45deg
  h1
    display inline
    margin-left 12px
    color #222
  .small
    color #333
    font-size 1em
    margin 6px 0 0 -6px